<div class="reset-container">
    <h2>Restablecer Contraseña</h2>
    <form (ngSubmit)="onSubmit()" #resetForm="ngForm" novalidate>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required email />
      <input type="password" placeholder="Nueva contraseña" name="newPassword" [(ngModel)]="newPassword" required minlength="6" />
      <button type="submit" [disabled]="resetForm.invalid">Restablecer</button>
      <p class="message" *ngIf="message" [class.error]="error">{{ message }}</p>
    </form>
  </div>
  